body{
    text-align: center;
    margin: 0;
    font-family: 'Murecho', sans-serif;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
}

.top-cloud{
    position: absolute;
    right: 100px;
    padding-top: 10px;
}

h1{
    color: #66BFBF;
    letter-spacing: 10px;
    padding-top: 50px;
}

.top-container h2 span{
    text-decoration: underline;
}

h2{
    color: #66BFBF;
}

.bottom-cloud{
    position: absolute;
    left: 100px;
}

.middle-container{
    width: 60%;
    margin: auto;
}

.bottom-container{
    background-color: #86BFBF;
}

.related-sites{
    color: #11999E;
    list-style: none;
}

.related-sites li{
    display: inline-block;
}

.bottom-container p{
    color: #EAF6F6;
}